<% provide(:title, '初めての方へ') %>
<div class="bg-center bg-cover text-center pt-40 pb-5 text-white" style="background-image: url('<%= asset_path('hero.jpg') %>');">
  <p class="mb-5 text-6xl drop-shadow-lg">はじめの一歩は</p>
  <p class="text-4xl mb-20 drop-shadow-lg">ここから</p>
  <%= link_to signup_path, class: 'inline-block bg-orange-400 px-5 py-2 rounded-full hover:bg-orange-300 transition w-30' do %>
    <button>
      まずは無料で会員登録
    </button>
  <% end %>
</div>
<div class="mx-30">
  <div>
    <p>こんなお悩みありませんか？</p>
    <div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
