<% provide(:title, '登録ユーザー選択') %>
<main class="w-1/2 mx-auto py-52 min-h-full flex justify-between text-center">
  <%= link_to new_contractor_registration_path, class: "w-64 h-64 bg-blue-200 rounded-lg pt-24" do %>
    <p class='text-2xl font-bold'>受注者新規登録</p>
    <p class='text-sm mt-5'>クリエーターさんはこちらから</p>
  <% end %>
  <%= link_to new_client_registration_path, class: "w-64 h-64 bg-red-200 rounded-lg pt-24" do %>
    <p class='text-2xl font-bold'>発注者新規登録</p>
    <p class='text-sm mt-5'>事業者さんはこちらから</p>
  <% end %>
</main>
