<% provide(:title, '登録ユーザー選択') %>
<%# <%= render 'layouts/devise_user_header' %> %>
<h2>ご希望のユーザータイプをクリックして下さい。</h1>
<p><%= link_to '受注者登録', new_contractor_registration_path %></p>
<p><%= link_to '発注者登録', new_client_registration_path %></p>
