<% provide(:title, 'アカウント編集') %>

<div class="flex justify-center items-center" >
  <div class="w-1/3 py-16">
  <h2 class="text-3xl mb-16 font-bold">アカウント編集(受注者)</h2>

  <%= render 'shared/registrations_edit_form_fields', resource: resource, resource_name: resource_name, waiting_confirmation_for_email: t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email)  %>
  <%= render 'shared/back_to_home' %>
  </div>
</div>
