<% provide(:title, 'お気に入りしたお仕事一覧') %>
<div class="flex justify-center items-center">
  <div class="w-1/2 py-12">
    <h2 class="text-3xl pb-10 font-bold">お気に入りしたお仕事一覧</h2>
    <div class="mt-2">
      <p class="text-sm text-gray-500 mb-3">
        複数のお仕事へ応募することは可能ですが、受注出来るお仕事は1つだけとなります。
      </p>
      <p class="text-sm text-gray-500 mb-10">
        受注完了時に応募中のお仕事は自動的にキャンセルされます。
      </p>
    </div>
    <% if @requests.blank? %>
      <p class="text-red-600 text-xl mb-4">※現在お気に入りに登録したお仕事はありません。</p>
    <% end %>
    <%= render 'shared/requests_index', back_url: contractors_favorites_path %>
    <%= render 'shared/back_to_home' %>
  </div>
</div>
