<% provide(:title, 'アカウント確認メール再送') %>

<div class="flex justify-center items-center" >
  <div class="w-1/3">
    <h2 class="text-3xl pb-10 font-bold">発注者アカウント確認メール再送</h2>
    <p class="mb-5 text-sm text-gray-600"><%= t('.text1') %></p>
    <p class="mb-10 text-sm text-gray-600"><%= t('.text2') %></p>
    <%= render 'shared/confirmations_form_fields', resource: resource, resource_name: resource_name, submit: 'アカウント確認メール再送' %>
  </div>
</div>

<%# <%= render "clients/shared/links" %>
