<% provide(:title, t('.title')) %>

<div class="flex justify-center items-center" >
  <div class="w-1/3 py-12">
    <h2 class="text-3xl pb-10 font-bold"><%= t('.title') %></h2>
    <%# # 変数fにfオブジェクトを、変数show_current_passwordにはtrueを入れてパーシャルに渡す %>
    <%= render 'form' %>
  </div>
</div>