  <h1><%= link_to 'First Step', root_path %></h1>
  <h2>発注者用のページですよ</h2>
  <ul>
    <li><%= link_to 'アカウント', edit_client_registration_path(current_client)  %></li>
    <li><%= link_to 'プロフィール', client_profile_path(current_client)  %></li>
    <li><%= link_to 'ログアウト', destroy_client_session_path , data: { turbo_method: :delete } %></li>
  </ul>