<footer>
  <ul>
    <li><%= link_to 'お問い合わせ', "#" %></li>
    <li><%= link_to 'プライバシーポリシー', static_pages_privacy_path %></li>
    <li><%= link_to '利用規約', static_pages_terms_path %></li>
  </ul>
</footer>
