  <h1><%= link_to 'First Step', root_path %></h1>
  <ul>
    <li><%= link_to 'ログイン', login_path %></li>
    <li><%= link_to '簡単ログイン', guest_login_path %></li>
    <li><%= link_to '新規登録', signup_path %></li>
  </ul>