<% provide(:title, 'パスワード再設定') %>

<div class="flex justify-center items-center" >
  <div class="w-1/3">

  <h2 class="text-3xl mb-16 font-bold">パスワードを忘れた方（発注者）</h2>
  <p class="mb-16 text-base text-gray-600">アカウントに登録されているメールアドレスを入力してください。再設定メールを送信します。</p>
  <%= render 'shared/password_reset_form_field', resource: resource, resource_name: resource_name %>

  <%= render "clients/shared/links" %>
  </div>
</div>
